@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: rgba(255, 255, 240, 0.5);
  --break-color: #52739e;
  --talk-color: #813c54;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Roboto;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #454545;
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  margin: 1rem;
}

h2 {
  text-align: center;
  margin: 0.75rem;
}

h3 {
  text-align: center;
  margin: 2rem;
}

.comingSoon {
  margin: 4rem;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.25rem;
  padding: 1rem;
  text-align: justify;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  margin: 2rem 0 0.5rem 0;
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-left: 10%;
}

main {
  margin: 0 0.5rem;
  padding-bottom: 3rem;
}

header {
  margin: 2rem 0 0 0;
}

.headerImg {
  height: 40vh;
  position: relative;
}

.headerText {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-align: right;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.headerText p {
  text-align: right;
  padding: 0.5rem;
  line-height: 1.5rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navLink {
  font-size: 1.25rem;
  color: #b8860b;
  text-decoration: underline;
  padding: 0.5rem;
}

.navLink:hover {
  color: #b2132e;
}

.googleMapDiv {
  position: relative;
  padding-bottom: 50%;
}

.googleMapFrame {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.orgInfo {
  margin: 1rem 0;
  text-align: center;
}
.orgInfo p {
  padding: 0.25rem;
  text-align: center;
}
.orgInfo p:nth-of-type(1){
  font-weight: bold;
  font-size: 1.15rem;
}
.programDiv {
  display: flex; flex-direction: column;
  align-items: flex-start;
}
.programTime {
  width: 50%;
}
.programInfo {
  width: 100%;
}
.programBreak p:nth-of-type(1){
  color: var(--break-color);
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #d0d0d0;
  padding-top: 0;
}

.programBreak p:nth-of-type(2){
  padding-top: 0;
}
.programTalk p:nth-of-type(1){
  color: var(--talk-color);
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-shadow: 1px 1px 2px #d0d0d0;
  text-align: left;
  padding-top: 0;
}
.programTalk p:nth-of-type(2){
  font-style: italic;
  padding-top: 0.5rem;
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.65rem;
}

@media only screen and (min-width: 600px) {
  body {
    width: 80vw;
    margin-left: 10vw;
  }

  header {
    margin: 2rem 0 0 0;
  }

  h1 {
    margin: 2rem;
  }

  main {
    margin: 0 1.5rem;
    padding-bottom: 3rem;
  }

  .navLink {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .googleMapDiv {
    margin-top: 1rem;
  }
  .programDiv {
    display: flex; flex-direction: row;
    align-items: flex-start;
  }
  .programTime {
    width: 20%;
  }
  .programInfo {
    width: 80%;
  }
  .programBreak p:nth-of-type(1){
    padding-top: 1rem;
  }
  .programTalk p:nth-of-type(1){
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 70vw;
    margin-left: 15vw;
  }

  h1 {
    margin: 2rem;
  }

  main {
    margin: 0 2rem;
  }
  .programTime {
    width: 15%;
  }
  .programInfo {
    width: 85%;
  }
}